
/* @font-face {
    font-family: 'Orbitron';
    src: url('../../../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  } */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    left: 8%;
    right: 5%;
    margin-right: 30px;
    margin-top: 20px;
    animation: fade-in 1s ease-in-out;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    opacity: 0;
}

app-menu-bar {
    position: relative;
    left: 5%;
    right: 5%;
    margin-right: 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in 1s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    margin-top: 20px;
}
/* .header {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron';
    color: #e2e2e2; 
} */

body {
    margin: -9px;
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-image: url('../../../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade-in 1s ease-in-out;
}

.page {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 2000px;
}
