<!-- <app-menu-bar class="container"></app-menu-bar> -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page"> 
       <app-menu-bar></app-menu-bar>
       <!-- <div class="header">Recent activities:</div> -->
        <app-github class="container"></app-github> 
        <app-leetcode class="container"></app-leetcode>
    </div>
</body>
</html>