.project-thumbnail {
    float: left;
}
  
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 250px;
  height: 350px;
  background-color: #000000d4;
  padding: 12px;
  padding-top: 0;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin: 20px;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 283px;
  height: 375px;
  border-radius: 10px;
  background: linear-gradient(-45deg,  #0006ff 0%, #931b42 100%);
  z-index: -10;
  pointer-events: none;
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
  
  .card__img img {
    width: 274px;
    height: 150px;
    margin-left: -12.3px;
    border-radius: 7px;
  }
  
  .card__descr-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    height: 40%;
    overflow: hidden;
  }
  
  .card__title {
    font-weight: 1000;
    font-size: 20px;
    margin-top: -48px;
    background: linear-gradient(-45deg, #4521b5 0%, #664f89 100%);
    margin-left: -12.3px;
    padding: 2px;
    width: 220px;
    height: 27px;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 4px;
  }
  
  .card__descr {
    color: var(--font-color);
  }
  
  .svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left:5px;
  }
  
  .card__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    margin-left:5px;
  }
  
  .card__links .link:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .project-thumbnail {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}



