
@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../../../assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf') format('truetype');
}

.project-thumbnail {
  overflow: hidden;
  border-top: 1px solid rgb(255, 255, 255);
  display: flex;
}

.project-thumbnail:nth-child(even) {
  background-color: #8AAAE5;
}

.project-thumbnail:nth-child(odd) {
  background-color: #00246bc0;
}


.all-projects .project-left {
  width: calc((100% - 30%) / 2);
  padding-top: 40px;
  padding-bottom: 40px;
}

.project-publish {
  color: #ffffff; 
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #EA738D;
  padding: 3px 5px 3px 5px;
  margin-bottom: 10px;
  text-align: center;
  overflow: auto; 
  display: inline-block; /* Makes the element behave like an inline element */
}


.project-left hr {
  width: 50px;
  border: 1px solid #ffffff;
  text-align: left;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-type {
  color: #ffffff; 
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-left .project-header {
  color: #ffffff; 
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.project-left .project-description {
  color: #ffffff; 
  font-family: 'Noto Sans';
  font-size: 18px;
}

.project-open {
  margin-top: 30px;
}

.project-left .project-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  outline: 3px #ffffff solid;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.project-open-button:hover {
  filter: brightness(1.2);
}

.project-open-button .project-open-button-text {
  color: white;
  font-weight: 700;
  font-size: 1em;
}

.project-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px 0 120px;
  padding-top: 40px;
  padding-bottom: 45px;
}

.project-image img {
  height: 30vh;
  width:  30vw;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.thumbnail-status {
  filter: blur(5px);
}

/* Small Devices (phones) */
@media (max-width: 767.98px) {
  .project-thumbnail {
    padding: 3vh 3vw 3vh 3vw;
    display: flex;
    flex-direction: column;
  }

  .all-projects .project-left {
    width: 100%;
    padding: 0;
  }

  .project-image img {
    height: 30vh;
    width:  90vw;
  }

  .project-right {
    padding: 4vh 2vw 1vh 2vw
  }

    
}

@media (min-width: 768px) and (max-width: 991.98px){
  
  .project-thumbnail {
    padding: 0 5vw 0 5vw;
  }

  .project-image img {
    height: 20vh;
    width:  40vw;
  }
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .project-thumbnail {
    padding: 0 10vw 0 10vw;
  }

  .project-image img {
    height: 20vh;
    width:  40vw;
  }
}

@media (min-width: 1200px) {
  .project-thumbnail {
    padding: 0 10vw 0 20vw;
  }
}


