.project-thumbnail {
    float: left;
    overflow: hidden;

}

.card {
    --font-color: #ffffff;
    --bg-color: #72717e;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    background: linear-gradient(to left, #1e1930 0%, #060513 100%);
    box-shadow: -9px 9px 18px #5a5a5aa6,
    9px -9px 18px #1e1930ad;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    margin: 20px;
  }


.card-inner {
  color: #0d0c18;
  background: var(--color);
  color: var(--color);
  width: 80%;
  height: 80%;
  overflow: visible;
  border-radius: 0.7rem;
  position: absolute;
}
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2px 2px #5a5a5a;
  }
  
  .card__img img {
    width: 95%;
    height: 140px;
    margin: 6px;
    border-radius: 20px;
  }
  
  .card__descr-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    height: 40%;
    overflow: hidden;
  }
  
  .card__title {
    color: var(--font-color);
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .card__descr {
    color: var(--font-color);
  }
  
  .svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left :10px;
  }
  
  .card__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    margin-left: 3px;
  }
  
  .card__links .link:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .project-thumbnail {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}
