@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    position: absolute;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in 1s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}

.dimmed {
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
}

.info-adj {
    opacity: 0.00;
}
