<div class="container" [class.dimmed]="modalOpen">
  <div class="component">
      <p><app-info [class.info-adj]="modalOpen"></app-info></p>
  </div>

  <div class="component">
      <p><app-skills></app-skills></p>
  </div>

  <div class="component">
      <p><app-github></app-github></p>
  </div>

  <div class="component">
      <p><app-leetcode></app-leetcode></p>
  </div>

  <div class="component">
    <p><app-projects (modalOpen)="updateModalState($event)"></app-projects></p>
  </div>
</div>




