.container {
    position: absolute;
    left: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.dimmed {
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
}

.info-adj {
    opacity: 0.00;
}