<div *ngIf="loadingState" class="loading-message">Loading GitHub info...</div>

<div *ngIf="(!results && !loadingState)" class="error-message">
  Error fetching data.
</div>


<div *ngFor="let result of results | slice:0:displayedResults " class="commit-group">
    <div class="date-decoration"><h2 class="date-header">Commits on: {{ result.date }}</h2></div>
    <div *ngFor="let commit of result.commits" class="commit">
      <p class="repository typing-animation">Repository: {{ commit.repository.owner }} / {{ commit.repository.name }}</p>
      <p class="message typing-animation">Message: {{ commit.commitMessage }}</p>
      <p class="date typing-animation">Date: {{ commit.commitDate | date }}, ({{ commit.commitAgo }})</p>
      <hr class="divider">
    </div>
  </div>
 <button *ngIf="results.length > displayedResults" (click)="displayedResults = displayedResults + 3">See More</button>
