<div class="info-box">
    <div class="info-left">
        <p><img class="info-avatar" src="../../../assets/IMG_4112_final.jpg" alt='image'></p>
        <div class="info-left-text">
        <p class="info-name">{{name}}</p>
        <p class="info-location">{{location}}</p>
        <app-connections></app-connections>
    </div>
    </div>
    <div class="info-right">
        <div class="descriptions">  
            <div class="description-welcome">Hi! I'm a&nbsp;<span class="typewriter"></span></div>
            <div class="description-detail">{{description}}</div>
            <br>
            <br>
            <div class="description-detail"> Je m'appelle Danh Le, un développeur de logiciels junior basé à Calgary, Alberta, Canada. Je suis passionné par la création de solutions qui apportent de grandes valeurs aux gens qui m'entourent.</div>
        </div>
    </div>
</div>
