<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<a href="https://www.linkedin.com/in/danh-le-6a2498229/" target="_blank" class="connections-icon linkedin-icon">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/d4nh-Le" target="_blank" class="connections-icon github-icon">
    <i class="fab fa-github"></i>
  </a>
  <a href="mailto:danhle002@gmail.com" target="_blank" class="connections-icon email-icon">
    <i class="fas fa-envelope"></i>
  </a>