@font-face {
    font-family: 'Orbitron';
    src: url('../../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: modalFadeIn;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
}

.card {
    padding: 20px;
    border-radius: 5px;
    width: 1200px; 
    height: 800px; 
    overflow: scroll;
    background-color: #3f5a90;
    border: 3px solid #ffffff;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.card::-webkit-scrollbar {
    display: none; 
}

.modal-upper {
    padding: 20px 10% 20px 5%;
}

.modal-description {
    padding: 15px;
    color: white;
}

.paragraph-separator {
    width: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal-detail .see-more-button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  outline: 3px #ffffff solid;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
  font-weight: 700;
  font-size: 1em;
  margin-top: 30px;
}

.see-more-button:hover {
filter: brightness(1.2);
}

.modal-sec1 {
    display: flex;
    flex-direction: row;
}

.modal-author, .modal-date {
    font-family: 'Orbitron';
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.modal-icon-author, .modal-icon-date {
    margin-right: 6px;
}

.modal-icon-date {
    margin-top: -3px;
}
.modal-icon-author {
    margin-top: -4px;
}

.modal-author-name {
    width: 80px;
}

.modal-technologies {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; ; 
    padding-left: 45%;
}

.modal-technology {
    margin-left: 15px;
    margin-right: 15px;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Orbitron';
}


.modal-sec2 {
    padding: 20px 10% 20px 5%;
    letter-spacing: 1px;
    line-height: 1.5;
}

.modal-detail {
    font-size: 17px;
    margin-bottom: 20px;
}

.modal-detail img {
    width: 40px;
    height: 60px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 10px;

}

.modal-close {
    margin-top: 20px;
    text-align: center;
    position: absolute; 
    top: 10px;
    right: 14px;
}

.modal-close button:hover {
    background-color: #cf7770;
}

.modal-close button {
    padding: 10px 20px;
    border: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-close {
    transition: background-color 0.3s ease-in-out;
}

.modal-close button:hover {
    transition: background-color 0.3s ease-in-out;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%; 
        height: 80%; 
        max-width: 90%; 
        max-height: 80%; 
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        max-height: 80%;
    }
}
