.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: modalFadeIn;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
}

.card {
    padding: 20px;
    border-radius: 5px;
    width: 1100px; /* Change width to a fixed value */
    height: 800px; /* Change height to a fixed value */
    overflow-y: hidden; /* Hide the vertical scrollbar */
    background-color: rgba(0, 0, 0, 0.822);
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 1130px;
    height: 830px;
    border-radius: 10px;
    background: linear-gradient(-45deg,  #0006ff 0%, #931b42 100%);
    z-index: -10;
    pointer-events: none;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-description {
    margin-bottom: 10px;
    color: white;
}

.modal-close {
    margin-top: 20px;
    text-align: center;
    position: absolute; 
    top: 10px;
    right: 10px;
}

.modal-close button:hover {
    background-color: #cf7770;
}

.modal-close button {
    padding: 10px 20px;
    border: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto 10px;
}

.modal-close {
    transition: background-color 0.3s ease-in-out;
}

.modal-close button:hover {
    transition: background-color 0.3s ease-in-out;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%; 
        height: 80%; 
        max-width: 90%; 
        max-height: 80%; 
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        max-height: 80%;
    }
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(40, end) 1 forwards;
    animation-fill-mode: forwards;
    animation-timing-function: steps(40, end), ease-in-out;
    font-family: monospace;
}

@keyframes typing {
    0% {
        width: 0;
    }
    20% {
        width: 20%;
    }
    40% {
        width: 40%;
    }
    60% {
        width: 60%;
    }
    80% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}
