@font-face {
    font-family: 'Orbitron';
    src: url('../../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: modalFadeIn;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
}

.card {
    padding: 30px 20px 20px 20px;
    border-radius: 5px;
    overflow: scroll;
    background-color: #ffffff;
    border: 2px solid #000000;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    position: relative; 
}

.card::-webkit-scrollbar {
    display: none; 
}

.modal-upper {
    padding: 20px 10% 20px 5%;
}

.modal-description {
    padding: 15px;
    color: rgb(0, 0, 0);
}

.paragraph-separator {
    width: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal-detail .see-more-button {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  outline: 3px #000000 solid;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
  font-weight: 700;
  font-size: 1em;
  margin-top: 30px;
}

.modal-detail .close-button {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    outline: 3px #000000 solid;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease;
    font-weight: 700;
    font-size: 1em;
    margin-top: 50px;
  }

.see-more-button:hover , .close-button:hover {
filter: brightness(1.2);
}

.modal-sec1 {
    padding: 20px 5% 20px 5%;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-sec1-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-sec1-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

svg {
    fill:#000000;
}

.modal-author, .modal-date {
    font-family: 'Orbitron';
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.modal-icon-author, .modal-icon-date {
    margin-right: 6px;
}

.modal-icon-date {
    margin-top: -3px;
}
.modal-icon-author {
    margin-top: -4px;
}

.modal-author-name {
    width: 80px;
}

.modal-technologies {
    display: flex;
    align-items: flex-start;
}

.modal-technology {
    padding: 5px 10px 5px 0;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Orbitron';
}


.modal-sec2 {
    padding: 20px 10% 20px 5%;
    letter-spacing: 1px;
    line-height: 1.5;
}

.header-thumbnail img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

.modal-detail {
    font-size: 17px;
    margin-bottom: 20px;
}

.modal-detail img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-technical {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-family: 'Orbitron';
    padding-top: 10px;

}

.modal-link {
    padding-left: 10px;
    text-decoration: none;
    color: inherit;
}

.modal-link a:visited {
    color: inherit;
  }

.modal-link a:hover {
    color: #cf7770;
}

.card .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0 0;
}

.modal-close button:hover {
    background-color: #cf7770;
}

.modal-close button {
    padding: 10px 20px;
    border: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-close-bottom button {
    padding: 10px 20px;
    border: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-close {
    transition: background-color 0.3s ease-in-out;
}

.modal-close button:hover {
    transition: background-color 0.3s ease-in-out;
}

.modal-project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Small Devices (phones) */
@media (max-width: 767.98px) {
    .card {
        width: 90vw; 
        height: 90vh; 
    }

    .modal-sec1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .header-thumbnail img {
        height: calc(60vw / 1.2);
        width: 60vw;
    }

    .modal-detail img {
        height: 30vh;
        width: 80vw;
    }

    .modal-sec2 {
        padding: 20px 0 20px 0;
    }
    
  }
  
@media (min-width: 768px) and (max-width: 991.98px){

    .card {
        width: 80vw; 
        height: 90vh; 
    }

    .header-thumbnail img {
        height: calc(50vw / 1.2);
        width: 50vw;
    }

    .modal-detail img {
        height: 30vh;
        width: 50vw;
    }
    
  }
  
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        width: 70vw; 
        height: 90vh; 
    }

    .header-thumbnail img {
        height: calc(40vw / 1.2);
        width: 40vw;
    }

    .modal-detail img {
        height: 30vh;
        width: 40vw;
    }


  }
  
@media (min-width:1200px) {
    .card {
        width: 60vw; 
        height: 90vh; 
    }
    
    .header-thumbnail img {
        height: calc(30vw / 1.2);
        width: 30vw;
    }

    .modal-detail img {
        height: 35vh;
        width: 30vw;
    }
    
}
