@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

a {
  text-decoration: none;
  color: #f7ba2b; 
}

a:visited {
  color: #f7ba2b; 
}

.leetcode-question-status {
  color: #24e75e; 
}

/* .result-container {
    background-color: #5555558c;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    padding: 20px;
    padding-top: 50px;
    border-radius: 45px;
    width: 500px;
    height: 800px;
    overflow: scroll;
  } */

.result-container {
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 500px;
  height: 800px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: var(--background);
  position: relative;
  z-index: 1;
 }

 
 .result-inner {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  width: 98%;
  height: 98.8%;
  overflow: visible;
  border-radius: .7rem;
  position: absolute;
 }

.result-leetcode-icon {
  color: #f7ba2b;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: -20px;
}

.result-leetcode-title {
  color: #f7ba2b;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
}

.result-leetcode-results {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 83%;
}

.result-leetcode-results::-webkit-scrollbar {
  display: none;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result-questions {
  background-color: inherit; 
  color: aliceblue;
  /* margin-left: 15px; */
  padding-left: 15px;
  padding-right: 5px;
  margin-top: 35px;
  animation: fadeIn 0.5s ease-in-out;
}

.result-questions:nth-child(even) {
  background-color: #7979793b;
  border-radius: 2px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.button-name {
    margin-left: 187px;
    margin-top: 15px;
    align-items: center;
    background-color: #fcfcfd00;
    border: 2px solid rgb(255, 196, 0);
    color: rgb(255, 196, 0);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 32px;
    width: 120px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    border-radius: 5px;
   }


