<div *ngIf="(results)" class="leetcode-container">

  <div class="leetcode-left">
    <div class="welcome-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6m12 5h1.5a2.5 2.5 0 0 0 0-5H18M4 22h16m-10-7.34V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22m7-7.34V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"/><path d="M18 2H6v7a6 6 0 0 0 12 0z"/></g></svg>
    </div>
    <div class="welcome-text">Self-study and Coding Challenges</div>
    <hr>
    <div class="welcome-description">I often apply <span class="role-emphasis"> Project-based learning (PBL) </span>technique to learn new knowledge and technologies. This approach allows me to start projects with <span class="role-emphasis"> curiosity and enthusiasm </span>. A big advantage of this technique is allowing me to divide a big problem into smaller pieces, and everytime I solve a smaller problem, it brings me closer to the big goal. This technique has helped me learn and understand a lot of knowledge, and most importantly, <span class="role-emphasis"> having fun learning to code </span>.</div>
    <br>
    <div class="welcome-description">Sometimes, I also <span class="role-emphasis"> enjoy solving coding challenges </span>. These puzzles are a fun way to practice and to become a better software developer.</div>
    </div>


    <div class="leetcode-right">
      <div class="result-inner">
        <div class="result-leetcode-results">
          <!-- LOADING STATE -->
      <div class="loading-state">
        <div *ngIf="loadingState" class="loading-message">Loading Leetcode data...</div>
  
        <div *ngIf="(!results && !loadingState)" class="error-message">
        Error fetching data.
        </div>
      </div>
      <div *ngFor="let result of results | slice:0:displayedResults" class="result-questions">
        <p><span class="leetcode-header">Problem: </span>{{ result.title }} / <a href="https://leetcode.com/problems/{{result.titleSlug}}/description/" target="_blank">at Leetcode</a></p>
        <p><span class="leetcode-header">Language: </span>{{ result.language }}</p>
        <p><span class="leetcode-header">Status: </span><span class="leetcode-question-status">{{result.statusDisplay}}</span></p>
        <p class="result-date"><span class="leetcode-header">Date: </span>{{ result.Date | date }} ({{result.timestamp}}).</p>
      </div>
    </div>
      <div class="load-button"><button *ngIf="results.length > displayedResults" (click)="displayedResults = displayedResults + 3" class="button-name">See more</button></div>
    </div>

  </div>

