@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../../../assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf') format('truetype');
}

.role-emphasis {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #EA738D;
  padding-left: 3px;
}

.leetcode-container {
  padding: 0 15% 0 15%;
  overflow: hidden;
  background-color: #8AAAE5;
  border-top: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leetcode-left {
  width: calc((100% - 30%) / 2);
  padding-top: 50px;
  padding-bottom: 45px;
}

.leetcode-left svg {
  height: 100px;
  width: 100px;
  padding-left: -5px;
  margin-left: -10px;
  margin-bottom: 5px;
}

.leetcode-left hr {
  width: 50px;
  border: 1px solid #ffffff;
  text-align: left;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.leetcode-left .welcome-text {
  color: #ffffff; 
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.leetcode-left .welcome-description {
  color: #ffffff; 
  font-family: 'Noto Sans';
  font-size: 18px;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #f7ba2b; 
}

a:visited {
  color: #f7ba2b; 
}

.leetcode-question-status {
  color: #24e75e; 
}

.leetcode-right {
  padding: 15px 10px 0 120px;

  padding-top: 40px;
  padding-bottom: 45px;
}

.result-inner {
  color: #ffffff;
  background-color:#00246bc0;
  border-radius: 5px;
  border: 3px solid #ffffff3f;
  height: 650px;
  width: 500px;
  min-height: 630px;
  overflow: scroll;
}

.result-inner::-webkit-scrollbar {
  display: none;
}

.result-questions {
  background-color: inherit; 
  animation: fadeIn 0.5s ease-in-out;
  padding-left: 15px;
  padding-right: 20px;
}

.leetcode-header {
  font-weight: bold;
  font-size: 15px;
}

.result-questions:nth-child(even) {
  background-color: #8AAAE53b;
  border-radius: 2px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.load-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-name {
  align-items: center;
  background-color: #fcfcfd00;
  border: 2px solid #ffffff;
  color: #ffffff;;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 32px;
  width: 120px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  border-radius: 20px;
   }


