<!-- <nav class="menu-bar">
        <a href="/" class="menu-item">Home</a>
        <a href="/activities" class="menu-item">Activities</a>
        <a href="/projects" class="menu-item">Projects</a>
</nav> -->

<div class="container">
        <div class="radio-wrapper">
        <a href="/" class="no-underline">
          <input type="button" class="input">
          <div class="btn">
            <span aria-hidden=""></span>About Me
            <span aria-hidden="" class="btn__glitch">_Cyber</span>
            <label class="number">r1</label>
          </div>
        </a>
        </div>
        <div class="radio-wrapper">
        <a href="/recent-activities" class="no-underline">
        <input type="button" class="input">
          <div class="btn">
            Activities<span aria-hidden=""></span>
            <span aria-hidden="" class="btn__glitch">_R_a_d_i_o_</span>
            <label class="number">r2</label>
          </div>
        </a>
        </div>
        <div class="radio-wrapper">
        <a href="/recent-projects" class="no-underline">
        <input type="button" class="input">
          <div class="btn">
            Projects<span aria-hidden=""></span>
            <span aria-hidden="" class="btn__glitch">Buttons_</span>
            <label class="number">r3</label>
          </div> 
        </a>
        </div>
      </div>
