@font-face {
  font-family: 'Orbitron';
  src: url('../../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8AAAE5;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20% 0 20%;
}

.navbar ul li:first-of-type {
  margin-left: auto;
}

li {
  float:right;
  font-family: 'Orbitron';
  font-size: 22px;
  margin-right: 10px;
  font-weight: 900;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul .logo img{
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

