<div class="navbar">



  <div class="nav-left">
    <div class="logo">
      <a href="/home"><img src="../../../../assets/danhle_icon.png" alt="danh-le.com"></a>
    </div>
  </div>



  <div class="nav-right">
    <button class="dropdown-toggle" (click)="toggleDropdown()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="#ffffff" fill-rule="evenodd" d="M2.5 7.5a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5m15 0a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5m-7.274 0a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5"/></svg></button>
  <ul #navLinks class="nav-links">
    <li><a href="/home" aria-label="home">ABOUT ME</a></li>
    <li><a href="/recent-activities" aria-label="activities">ACTIVITIES</a></li>
    <li><a href="/recent-projects" aria-label="projects">PROJECTS</a></li>
  </ul>
  </div>
 



</div>