@font-face {
  font-family: 'Lato Bold 900';
  src: url('../../../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CADCFC;
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20%;
}

li {
  float:right;
  font-family: 'Lato Bold 900';
  font-size: 22px;
  margin-right: 10px;
  font-weight: 900;
}

li a {
  display: block;
  color: #00246B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

