@font-face {
  font-family: 'Orbitron';
  src: url('../../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

.navbar {
  background-color: #8AAAE5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-left .logo img{
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.nav-right {
  display: flex;
  position: relative;
}

.navbar .nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  top: 100%;
  right: 0;
  background: #8AAAE5;
}

.dropdown-toggle {
  display: none;
  align-items: center;
  background-color: inherit;
  border: none;
}

.navbar .nav-right .dropdown-toggle svg {
  height: 50px;
  width: 50px;
  transition: opacity 0.1s ease-in-out;
}

.dropdown-toggle svg.hideSVG {
  opacity: 0;
  pointer-events: none;
}

.dropdown-toggle svg:not(.hideSVG) {
  opacity: 1;
}



li {
  float:left;
  font-family: 'Orbitron';
  font-size: 22px;
  margin-right: 10px;
  font-weight: 900;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Small Devices (phones) */
@media (max-width: 767.98px) {
  .navbar {
    padding: 0 2.5vw 0 5vw;
    position: relative;
  }

  .navbar .nav-right {
    display: flex;
    flex-direction: column;
    position: static;
  }

  .navbar  ul {
    display: none;
    position: absolute;
    text-align: left;
    left: 0; 
    top: 100%; 
    width: 100%; 
  }

  .navbar li a {
    text-align: left;
    
  }

  .navbar .dropdown-toggle {
    display: block;
  }

  .navbar .nav-right .nav-links {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, padding-top 0.2s ease-in-out, padding-bottom 0.2s ease-in-out, visibility 0s 0.2s;
  }
  
  .navbar .nav-right .nav-links.show {
    visibility: visible;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 500px; /* Adjust this value as needed */
    transition: max-height 0.2s ease-in-out, padding-top 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .navbar {
    padding: 0 5vw 0 5vw;
  }

  .navbar .dropdown-toggle {
    display: none;
  }

  .navbar .nav-right .nav-links {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .navbar {
    padding: 0 20vw 0 20vw;
  }

  .dropdown-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
  }
}

@media (min-width: 1200px) {

  .navbar {
    padding: 0 20vw 0 20vw;
  }

  .dropdown-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
  }
}
