<div class="connection-box">
    <a href="https://www.linkedin.com/in/danh-le-6a2498229/" target="_blank" class="connections-icon linkedin-icon">
        <img src="../../../assets/icons/linkedin.jpg" alt="danh_le_linkedin">
      </a>      <a href="https://github.com/d4nh-Le" target="_blank" class="connections-icon github-icon">
        <img src="../../../assets/icons/github-square.jpg" alt="danh_le_github">
    </a>     <a href="mailto:danhle002@gmail.com" target="_blank" class="connections-icon email-icon">
        <img src="../../../assets/icons/rounded-email.jpg" alt="danh_le_email">
      </a>
</div>