.info-avatar {
    border-radius: 50%;
    width: 250px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the entire space */
}

/* For small screens (up to 600px) */
@media only screen and (max-width: 600px) {
    /* Add responsive styles here */
}

/* For medium screens (601px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Add responsive styles here */
}

/* For large screens (901px and above) */
@media only screen and (min-width: 901px) {
    /* Add responsive styles here */
}