
<div class="skill-trees-wrapper">
    <div class="skill-header">I'm capable of:</div>
    <div class="skill-tree language-tree">
        <div class="skill-tree-category language">Languages</div>
        <ul>
            <li *ngFor="let language of languages"><div class="skills">{{ language }}</div></li>
        </ul>
    </div>

    <div class="skill-tree framework-tree">
        <div class="skill-tree-category framework">Frameworks</div>
        <ul>
            <li *ngFor="let framework of frameworks"><div class="skills">{{ framework }}</div></li>
        </ul>
    </div>

    <div class="skill-tree service-tree">
        <div class="skill-tree-category service">Services</div>
        <ul>
            <li *ngFor="let service of services"><div class="skills">{{ service }}</div></li>
        </ul>
    </div>
</div>

