@font-face {
    font-family: 'Orbitron';
    src: url('../../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../../assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Orbitron-med';
    src: url('../../../assets/fonts/Orbitron/static/Orbitron-Medium.ttf') format('truetype');
}

.skill-trees-wrapper {
    padding: 0 20% 0 20%;
    overflow: hidden;
    background-color: #00246ba1;
    border-top: 1px solid rgb(255, 255, 255);
}


.skills {
    color: #000;
}